body{
	padding:12px;	
}

#wrapper > p, #branding > p{
 	width:800px;
}

.error{
	color:#C30;
	font-size:90%;	
}

hr{
	margin-top:15px;
}

/* Chrome button styling */
button.save-options{
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
		-webkit-box-align: center;
	text-align: center;
	color: buttontext;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	border-image: initial;
	background-color: buttonface;
	box-sizing: border-box;
	text-align: -webkit-auto;
	-webkit-appearance: none;
	-webkit-user-select: none;
	background-image: -webkit-linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
	color: #444;
	font: inherit;
	margin: 0 1px 0 0;
	text-shadow: 0 1px 0 #F0F0F0;
	
	cursor:pointer;
}	

h2{
	margin:0px;
}
