body {
	width: 500px;
	color:#555;
}

#head{
	margin:10px 0px;
}

h1, h2 {
	margin-top: 5px;
	font-size: 20px;
}

h2 {
	margin-top:0px;
	margin-left: 15px;
	color:#25aae1;
	
}

.social-source{
	padding:5px;	
}

.social-source img{
	padding-right:5px;	
}

.social-source span.total-count, .child-metric{
	color:#999;	
}

#facebook > span{
	padding-bottom:15px;
}

.child-metric{
	margin-left: 30px;	
}

#options{
	margin:5px 0px 5px 5px;	
}

a{
	color:#25aae1;
	text-decoration: underline;
}

.alert{
	background-color: #c60f13;
	border-color: #970b0e;
	color: white;
}

.divider {
	height: 2px;
	margin-bottom:10px;
	background: #e5e5e5;
}

.no-style {
	list-style-type: none;
}


.dl-horizontal dt {
	float: left;
	width: 20px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dl-horizontal dd {
	margin-left: 30px;
}

.indent {
	text-indent:15px;
}

ul.horizontal {
	list-style-type: none;
	padding-left: 15px;
}

ul.horizontal li {
	display: inline-block;
}

ul.horizontal li.spacer {
	padding:0px 5px;
	color:#aaa;
}

.links {
	font-size:90%;
}

.keywords table {
	font-size:90%;
}

.keywords table td, .keywords table th {
	padding: 0px 5px;
}

#footer {
	padding-top: 5px;
}

#footer a {
	text-decoration: none;
	color: #aaa;
}

#footer a:hover {
	text-decoration: underline;
}