body.popup {
	width: 500px;
	color:#555;
}

#head{
	margin:10px 0px;
}

#head h1 a img {
	padding-right: 10px;
}

h1, h2 {
	margin-top: 5px;
	font-size: 20px;
	font-weight:bold;
}

h2 {
	margin-top:0px;
	margin-left: 15px;
	color:#25aae1;
	
}

.social-source{
	padding:5px;	
}

.social-source img{
	padding-right:5px;	
}

.social-source span.total-count, .child-metric{
	color:#999;	
}

#facebook > span{
	padding-bottom:15px;
}

.child-metric{
	margin-left: 30px;	
}

#options{
	margin:5px 0px 5px 5px;	
}

a{
	color:#25aae1;
	text-decoration: underline;
}

.divider {
	height: 2px;
	margin: 10px 0px;
	background: #e5e5e5;
}

.no-style {
	list-style-type: none;
}

#refresh-page {
	position: absolute;
	top: 5px;
	right: 10px;
	cursor: pointer;
	padding-right:2px;
	border:1px solid #fff;
}

#refresh-page:hover {
	border:1px solid #666;
}


.dl-horizontal dt {
	float: left;
	width: 20px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dl-horizontal dd {
	margin-left: 30px;
}

.indent {
	text-indent:15px;
}

.link-label {
	font-size:18px;
	padding-left:5px;
	padding-right:5px;
}

.link-inner-col p.row {
	padding-left:5px;
}

ul.horizontal {
	list-style-type: none;
	padding-left: 15px;
}

ul.horizontal li {
	display: inline-block;
}

ul.horizontal li.spacer {
	padding:0px 5px;
	color:#aaa;
}

.links {
	font-size:90%;
}

.keywords table {
	font-size:90%;
}

.keywords table td, .keywords table th {
	padding: 0px 5px;
}

#footer {
	padding-top: 5px;
}

#footer a {
	text-decoration: none;
	color: #aaa;
}

#footer a:hover {
	text-decoration: underline;
}

/* Chrome button styling */
button.save-options{
	margin: 0em;
	font: -webkit-small-control;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
		-webkit-box-align: center;
	text-align: center;
	color: buttontext;
	padding: 2px 6px 3px;
	border: 2px outset buttonface;
	border-image: initial;
	background-color: buttonface;
	box-sizing: border-box;
	text-align: -webkit-auto;
	-webkit-appearance: none;
	-webkit-user-select: none;
	background-image: -webkit-linear-gradient(#EDEDED, #EDEDED 38%, #DEDEDE);
	border: 1px solid rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);
	color: #444;
	font: inherit;
	margin: 0 1px 0 0;
	text-shadow: 0 1px 0 #F0F0F0;
	
	cursor:pointer;
}