#head{
	margin:10px 0px;
}

.social-source{
	padding:5px;	
}

.social-source img{
	padding-right:5px;	
}

.social-source span.total-count, .child-metric{
	color:#999;	
}

#facebook > span{
	padding-bottom:15px;
}

.child-metric{
	margin-left: 30px;	
}

#options{
	margin:5px 0px 5px 5px;	
}

a{
	color:#25aae1;
	text-decoration:none;
}

.alert{
	background-color: #c60f13;
	border-color: #970b0e;
	color: white;
}
