<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>ShareMetric Options</title>
	<link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<script src="/lib/js/jquery-2.1.0.min.js"></script>
	<script src="/lib/js/bootstrap.min.js"></script>
  <script src="/lib/js/knockout-3.2.0.js"></script>
  <script src="/lib/js/knockout-bootstrap.min.js"></script>
	<script src="/js/util.js"></script>
	<script src="/js/apis.js"></script>
	<script src="/js/options.js"></script>
</head>
<body>
	<div class="container">
		<div class="row" id="head">
			<div class="col-xs-12">
				<h1>
					<a data-ga-action="Content Harmony" href="http://www.contentharmony.com"><img src="/images/content-harmony-options.png" alt="Content Harmony logo">Content Harmony</a> - ShareMetric
				</h1>
				<ul class="horizontal" style="padding-left:0px">
					<li><a data-ga-action="Report An Issue" target="_blank" href="http://www.contentharmony.com/tools/sharemetric/#contact?feedback=Issue">Report An Issue</a></li>
					<li class="spacer">|</li>
					<li><a data-ga-action="Request a Feature" target="_blank" href="http://www.contentharmony.com/tools/sharemetric/#contact?feedback=Feature">Request A Feature</a></li>
					<li class="spacer">|</li>
					<li><a data-ga-action="Show Some Love" target="_blank" href="http://www.contentharmony.com/tools/sharemetric/#love">Show Some Love</a></li>
				</ul>
			</div>
		</div>
		<hr />
		<div class="row outer-row-wrap">
			<h2>Social Metrics:</h2>
			<div class="col-sm-8 inner-col-wrap">
				<p>
					<label>
						<input type="radio" value="false" data-bind="checked: autoloadSocial"  />
						Check share counts when extension icon in toolbar is clicked
					</label>
				</p>
				<p>
					<label>
					  <input type="radio" value="true" data-bind="checked: autoloadSocial"  />
						Check share counts on page load
					</label>
				</p>
        <div id="social-apis" class="row" data-bind="with: socialAPIContainer">
          <script type="text/html" id="social-active-toggle">
          	<div>
	          	<label>
	              <input type="checkbox" data-bind="checked: isActive" /> 
	              <span data-bind="text: name"></span>
	            </label>
            </div>
          </script>
          <div class="col-sm-4">
            <!-- ko template: { name: 'social-active-toggle', foreach: firstHalf } -->
            <!-- /ko -->
          </div>
          <div class="col-sm-4">
            <!-- ko template: { name: 'social-active-toggle', foreach: secondHalf } -->
            <!-- /ko -->
          </div>
        </div> <!-- #/social-apis -->
      </div> <!-- /#inner-col-wrap -->
    </div> <!-- /#outer-row-wrap -->
		<button class="save-options" data-bind="click: saveOptions">Update</button>
		<hr />
		<div id="links" class="row">
			<h2>Link Metrics:</h2>
			<div class="col-sm-6">
				<div id="moz" data-bind="with: moz">
					<div class="form-group">
						<label>
							<input type="checkbox" data-bind="checked: isActive" />
							Enable Moz metrics (requires <a href="http://moz.com/products/api/keys">Moz API key and secret</a>)
						</label>
					</div>
					<!-- ko if: isActive -->
					<div class="form-group">
						<label>Moz AccessID <br />
							<input class="form-control" type="text" data-bind="value: mozID" />
						</label>
					</div>
					<div class="form-group">
						<label>Moz Secret <br />
							<input class="form-control" type="text" data-bind="value: mozSecret" />
						</label>
					</div>
					<!-- /ko -->
				</div> <!-- #/moz -->
				<button class="save-options" data-bind="click: saveOptions">Update</button>
			</div> <!-- .col-sm-6 -->
		</div> <!-- #/links -->
		<hr />
		<div id="keywords" class="row">
			<h2>Keyword Metrics</h2>
			<div class="col-sm-6">
				<div id="semrush" data-bind="with: semrush">
					<div class="form-group">
						<label>
							<input type="checkbox" data-bind="checked: isActive" />
							Enable SEMRush metrics (requires <a href="http://www.semrush.com/api.html">SEMRush API key</a>)
						</label>
					</div>
					<!-- ko if: isActive -->
					<div class="form-group">
						<label>SEMRush API Key <br />
							<input class="form-control" type="text" data-bind="value: authToken" />
						</label>
					</div>
					<!-- /ko -->
				</div> <!-- #/semrush -->
				<button class="save-options" data-bind="click: saveOptions">Update</button>
			</div> <!-- #/col-sm-6 -->
		</div> <!-- #/keywords -->
		<hr />
		<div id="research" class="row">
			<h2>Page Research</h2>
			<div class="col-sm-6">
				<label>
					<input type="checkbox" data-bind="checked: showResearch" />
					Enable page research links (WHOIS, Schema.org, and Google Cache)
				</label>
				<div>
					<button class="save-options" data-bind="click: saveOptions">Update</button>    
				</div>
			</div> <!-- /.col-sm-6 -->
		</div> <!-- #/research -->
		<!-- ko if: notifications().length > 0 -->
    <hr />
    <div class="row notifications">
      <h2>Notifications:</h2>
      <div class="col-xs-12">
        <div class="alert alert-info alert-dismissable" data-bind="with: notifications()[0]">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-bind="click: $root.popNotification.bind($root)">&times;</button>
          <p data-bind="html: message"></p>
        </div>
      </div>
    </div>
    <!-- /ko  -->
		<hr />
		<div class="row" id="foot">
			<h2>Credits</h2>
			<div class="col-sm-12 col-md-12">
				 <p>The ShareMetric extension was created by <a data-ga-action="Graeme Britz" href="http://graemebritz.com">Graeme Britz</a> and <a data-ga-action="Kane Jamison" href="http://kanejamison.com">Kane Jamison</a> at <a data-ga-action="Content Harmony" href="http://contentharmony.com">Content Harmony</a>. Full documentation for this extension can be found at <a data-ga-action="ShareMetric Documentation" href="http://contentharmony.com/tools/sharemetric">here</a>.</p>
			</div>
		</div>
	</div>
</body>
</html>
