<!doctype html>
<html>
  <head>
    <title>ShareMetric Popup View</title>
      <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!-- JavaScript and HTML must be in separate files for security. -->
    <script src="/lib/js/knockout-3.2.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/lib/js/bootstrap.min.js"></script>
    <script src="/js/apis.js"></script>
    <script src="/js/popup.js"></script>
    
  </head>
  <body class="popup">
    <div class="container">
      <div class="row" id="head">
        <h1><a href="http://www.contentharmony.com">
        <img src="/images/content-harmony-header.png" alt="Content Harmony logo">Content Harmony</a> - ShareMetric</h1>
        <p><strong>Data for: </strong><span id="url" data-bind="text: URL"></span></p>
        <image id="refresh-page" src="/images/reload_refresh.png" alt="refresh popup results" 
        data-bind="click: refreshPopup" />
      </div>
      <div id="content">
        <hr />
        <div class="row social">
          <h2>Social:</h2>
          <!-- ko with: socialAPIContainer -->
          <div class="col-xs-6">
            <!-- ko template: { name: 'social-column', foreach: firstHalf } -->
            <!-- /ko -->
          </div>
          <div class="col-xs-6">
            <!-- ko template: { name: 'social-column', foreach: secondHalf } -->
            <!-- /ko -->
          </div>
          <!-- /ko -->
        </div>
        <!-- ko if: hasLinks -->
        <hr />
        <div class="row links">
          
        </div>
        <!-- /ko -->
      </div>
      <hr />
      <div class="row" id="footer">
        <ul class="horizontal">
          <li><a data-ga-action="Options" id="options-link" href="#">Options</a></li>
          <li class="spacer">|</li>
          <li><a data-ga-action="Report An Issue" target="_blank" href="http://www.contentharmony.com/tools/sharemetric/#contact?feedback=Issue">Report An Issue</a></li>
          <li class="spacer">|</li>
          <li><a data-ga-action="Request a Feature" target="_blank" href="http://www.contentharmony.com/tools/sharemetric/#contact?feedback=Feature">Request A Feature</a></li>
          <li class="spacer">|</li>
          <li><a data-ga-action="Show Some Love" target="_blank" href="http://www.contentharmony.com/tools/sharemetric/#love">Show Some Love</a></li>
        </ul>
      </div>
    </div>
    <!-- KO Templates -->
    <script type="text/html" id="social-column">
      <div class="social-metric">
        <img data-bind="attr: { src: iconPath }" /> 
        <strong data-bind="text: name"></strong>: 
        <!-- ko template: templateName --> 
        <!-- /ko -->
      </div>
    </script>

    <script type="text/html" id="social-template">
      <span data-bind="text: totalCount()"></span>
    </script>
    
    <script type="text/html" id="social-template-with-link">
      <span data-bind="text: totalCount()"></span>
       (<a data-bind="attr: { href: detailsHref(), }, text: detailsAnchor" target="_blank"></a>)
    </script>

    <script type="text/html" id="facebook-template">
      <span data-bind="text: totalCount"></span>
      <br/>
      <span class="indent inline-block">
        Likes: 
        <span data-bind="text: likes" />
      </span>
      
      <br/>
      <span class="indent inline-block">
        Shares: 
        <span data-bind="text: shares" />
      </span>
      
      <br/>
      <span class="indent inline-block">
        Comments: 
        <span data-bind="text: comments" />
      </span>
      
    </script>
    <script type="text/html" id="reddit-template">
      <span data-bind="text: totalCount()"></span>
       (<a data-bind="attr: { href: detailsHref(), }, text: detailsAnchor" target="_blank"></a>)
       <br />
      <span class="indent inline-block">
        Ups: <span class="indent" data-bind="text: ups()"></span>
      </span>
       <br />
      <span class="indent inline-block">
        Downs: <span class="indent" data-bind="text: downs()"></span>
      </span>
    </script>
    
  </body>
</html>
