<!doctype html>
<html>
  <head>
    <title>ShareMetric Popup View</title>
      <link rel="stylesheet" type="text/css" href="/lib/css/bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <!-- JavaScript and HTML must be in separate files for security. -->
    <script src="/lib/js/knockout-3.2.0.js"></script>
    <script src="/lib/js/jquery-2.1.0.min.js"></script>
    <script src="/lib/js/bootstrap.min.js"></script>
    <script src="/lib/js/hmac-sha1.js"></script>
    <script src="/lib/js/enc-base64-min.js"></script>
    <script src="/lib/js/knockout-bootstrap.min.js"></script>
    <script src="/lib/js/purl.js"></script>
    <script src="/js/ga.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/apis.js"></script>
    <script src="/js/popup.js"></script>
    
  </head>
  <body class="popup">
    <div class="container">
      <div class="row" id="head">
        <div class="col-xs-12">
          <h1><a data-bind="click: recordClick.bind($data, 'Popup Interaction', 'Header Link', 'Content Harmony')" href="http://www.contentharmony.com" target="_blank">
          <img src="/images/content-harmony-header.png" alt="Content Harmony logo">Content Harmony</a> - ShareMetric</h1>
          <p><strong>Data for: </strong><span id="url" data-bind="text: URL"></span></p>
          <image id="refresh-page" src="/images/reload_refresh.png" alt="refresh popup results" 
          data-bind="click: refreshPopup" />
        </div>
      </div>
      <hr />
      <div class="row social">
        <h2>Social</h2>
        <!-- ko with: socialAPIContainer -->
        <div class="col-xs-6">
          <!-- ko template: { name: 'social-column', foreach: firstHalf } -->
          <!-- /ko -->
        </div>
        <div class="col-xs-6">
          <!-- ko template: { name: 'social-column', foreach: secondHalf } -->
          <!-- /ko -->
        </div>
        <!-- /ko -->
      </div>
      <!-- ko if: showSpecialMessage -->
      <hr />
      <div id="specialMessage" class="row">
        <h2>Welcome to ShareMetric</h2>
        <div class="col-xs-12">
          <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-bind="click: $root.hideSpecialMessage.bind($root)">&times;</button>
            <p>
              If you just want to check social media stats, you can X out of this message.
              <br><br>If you'd like to set up Link metrics from Moz or Keyword metrics from SEMRush, click here to <a data-ga-action="Options" data-bind="click: openOptions" href="#">configure Options</a>.
            </p>
          </div>
        </div>
      </div> <!-- #specialMessage  -->
      <!-- /ko -->
      <!-- ko if: hasLinks -->
      <hr />
      <div id="links" class="row">
        <h2>Links</h2>
        <!-- ko if: moz.isActive() -->
        <div id="moz" class="col-xs-12" data-bind="with: moz">
          <div class="row">
            <div class="col-xs-2"> <!-- logo -->
              <img data-bind="attr: { src: iconPath }" />
            </div>
            <div class="api-data col-xs-6"> <!-- api data -->
              <div class="row">
                <div class="col-xs-6">
                  <span class="link-metric" data-bind="tooltip: {title: 'Page Authority, as reported by Open Site Explorer'}">PA: <strong data-bind="text: pa"></strong></span>
                </div>
                <div class="col-xs-6">
                  <span class="link-metric" data-bind="tooltip: {title: 'Number of Linking Root Domains for this Page, as reported by Open Site Explorer'}">PLRDs: <strong data-bind="text: plrd"></strong></span>
                </div>
              </div>
              <div class="row">
               <div class="col-xs-12">
                  <a data-bind="attr: { href: pageMetrics }, click: $root.recordClick.bind($root, 'Popup Interaction', 'Moz Link', 'OSE Page Metrics')" target="_blank">View OSE Page Metrics</a> 
               </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <span class="link-metric" data-bind="tooltip: {title: 'Domain Authority, as reported by Open Site Explorer'}">DA: <strong data-bind="text: da"></strong></span>
                </div>
                <div class="col-xs-6">
                  <span class="link-metric" data-bind="tooltip: {title: 'Number of Linking Root Domains for this Domain, as reported by Open Site Explorer'}">DLRDs: <strong data-bind="text: dlrd"></strong></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <a data-bind="attr: { href: domainMetrics }, click: $root.recordClick.bind($root, 'Popup Interaction', 'Moz Link', 'OSE Domain Metrics')" target="_blank">View OSE Domain Metrics</a>
                </div>
              </div>
            </div> <!-- /.api data -->
            <div class="col-xs-4"> <!-- right col links -->
              <ul class="list-unstyled">
                <li><strong>View More:</strong></li>
                <!-- ko foreach: viewMoreLinks() -->
                <li>
                  <a data-bind="attr: { href: href }, text: anchor, click: $root.recordClick.bind($root, 'Popup Interaction', 'Moz Link', anchor)" target="_blank"></a>
                </li>
                <!-- /ko -->
              </ul>
            </div>
          </div>
        </div> <!-- #/moz -->
        <!-- /ko -->
        <!-- ko if: bothLinksActive -->
        <hr />
        <!-- /ko -->
        <!-- ko if: ahrefs.isActive() -->
        <div id="ahrefs" class="col-xs-12" data-bind="with: ahrefs">
          <div class="row">
            <div class="col-xs-2"> <!-- logo -->
              <img data-bind="attr: { src: iconPath }" />
            </div>
            <div class="api-data col-xs-6"> <!-- api data -->
              <div class="row">
                <div class="col-xs-6">
                  <span class="link-metric" data-bind="tooltip: {title: 'URL Rank, as reported by Ahrefs'}">Url Rank: <strong data-bind="text: urlRank"></strong></span>
                </div>
                <div class="col-xs-6">
                  <span class="link-metric" data-bind="tooltip: {title: 'Number of Root Domains Linking to this Page, as reported by Ahrefs'}">PRD: <strong data-bind="text: prd"></strong></span>
                </div>
              </div>
              <div class="row">
               <div class="col-xs-12">
                  <a data-bind="attr: { href: pageMetrics }, click: $root.recordClick.bind($root, 'Popup Interaction', 'Ahrefs Link', 'URL Metrics')" target="_blank">View Page URL Metrics</a> 
               </div>
              </div>
              <div class="row">
                <div class="col-xs-6">
                  <span class="link-metric" data-bind="tooltip: {title: 'Domain Rank, as reported by Ahrefs'}">Domain Rank: <strong data-bind="text: domainRank"></strong></span>
                </div>
                <div class="col-xs-6">
                  <span class="link-metric" data-bind="tooltip: {title: 'Number of Root Domains Linking to this Domain, as reported by Ahrefs'}">DRD: <strong data-bind="text: drd"></strong></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <a data-bind="attr: { href: domainMetrics }, click: $root.recordClick.bind($root, 'Popup Interaction', 'Ahrefs Link', 'Domain Metrics')" target="_blank">View Full Domain Metrics</a>
                </div>
              </div>
            </div> <!-- /.api data -->
            <div class="col-xs-4"> <!-- right col links -->
              <ul class="list-unstyled">
                <li><strong>View More:</strong></li>
                <!-- ko foreach: viewMoreLinks() -->
                <li>
                  <a data-bind="attr: { href: href }, text: anchor, click: $root.recordClick.bind($root, 'Popup Interaction', 'Ahrefs Link', anchor)" target="_blank"></a>
                </li>
                <!-- /ko -->
              </ul>
            </div>
          </div>
        </div> <!-- #/moz -->
        <!-- /ko  --> <!-- /if ahrefs is active -->
      </div> <!-- #/links -->
      <!-- /ko -->
      <!-- ko if: semrush.isActive -->
      <hr />
      <div id="keywords" class="row">
        <h2>Keywords</h2>
        <div id="semrush" data-bind="with: semrush">
          <div class="col-xs-2"> <!-- logo -->
            <img data-bind="attr: {src: iconPath}" />
          </div>
          <div class="col-xs-10">
            <h4>Top Organic Search Visibility For This Page</h4>
            <!-- ko if: isLoaded -->
              <!-- ko if: resultRows().length > 0 -->
            <table>
              <thead>
                <tr>
                  <th>#</th> <!-- for indexes -->
                  <th>Keyword</th>
                  <th>Rank</th>
                  <th>Volume</th>
                  <th>CPC</th>
                </tr>
              </thead>
              <tbody>
              <!-- ko foreach: resultRows -->
                <tr>
                  <td><span data-bind="text: $index() + 1"></span>.</td>
                  <td data-bind="text: Keyword"></td>
                  <td class="text-center" data-bind="text: Rank"></td>
                  <td class="text-center" data-bind="text: Volume"></td>
                  <td class="text-center" data-bind="text: CPC"></td>
                </tr>
              <!-- /ko -->  
              </tbody>
            </table>
              <!-- /ko  -->
              <!-- ko if: resultRows().length == 0 -->
              No data found
              <!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: isLoaded -->
            Loading...
            <!-- /ko -->
            <p>
              View full report for this <a data-bind="attr: {href: reportURL}, click: $root.recordClick.bind($root, 'Popup Interaction', 'SEMRush Link', 'URL Report')" target="_blank">URL</a> or <a data-bind="attr: {href: reportDomain}, click: $root.recordClick.bind($root, 'Popup Interaction', 'SEMRush Link', 'Domain Report')" target="_blank">Domain</a>
            </p>
          </div>
        </div> <!-- #/semrush -->
      </div> <!-- #/keywords -->
      <!-- /ko -->
      <!-- ko if: showResearch -->
      <hr />
      <div class="row research">
        <h2>Research</h2>
        <ul class="horizontal">
          <!-- ko foreach: researchLinks() -->
          <li><a data-bind="attr: { href: href }, text: anchor, click: $root.recordClick.bind($root, 'Popup Interaction', 'Research Link', anchor)" target="_blank"></a></li>
            <!-- ko if: $index() != 2  -->
            <li class="spacer">|</li>
            <!-- /ko  -->
          <!-- /ko -->
        </ul>
      </div>
      <!-- /ko -->
      <!-- ko if: notifications().length > 0 -->
      <hr />
      <div class="row notifications">
        <h2>Notifications</h2>
        <div class="col-xs-12">
          <div class="alert alert-info alert-dismissable" data-bind="with: notifications()[0]">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" data-bind="click: $root.popNotification.bind($root)">&times;</button>
            <p data-bind="html: message"></p>
          </div>
        </div>
      </div>
      <!-- /ko  -->
      <hr />
      <div class="row" id="footer">
        <ul class="horizontal">
          <li><a data-ga-action="Options" id="options-link" data-bind="click: openOptions" href="#">Options</a></li>
          <li class="spacer">|</li>
          <li><a data-bind="click: recordClick.bind($data, 'Popup Interaction', 'Footer Link', 'Report An Issue')" target="_blank" href="http://www.contentharmony.com/tools/sharemetric/#contact">Report An Issue</a></li>
          <li class="spacer">|</li>
          <li><a data-bind="click: recordClick.bind($data, 'Popup Interaction', 'Footer Link', 'Request a Feature')"  target="_blank" href="http://www.contentharmony.com/tools/sharemetric/#contact">Request A Feature</a></li>
          <li class="spacer">|</li>
          <li><a data-bind="click: recordClick.bind($data, 'Popup Interaction', 'Footer Link', 'Show Some Love')" target="_blank" href="http://www.contentharmony.com/tools/sharemetric/#love">Show Some Love</a></li>
        </ul>
      </div>
    </div>
    <!-- KO Templates -->
    <script type="text/html" id="social-column">
      <div class="social-metric">
        <img data-bind="attr: { src: iconPath }" /> 
        <strong data-bind="text: name"></strong>: 
        <!-- ko template: templateName --> 
        <!-- /ko -->
      </div>
    </script>

    <script type="text/html" id="social-template">
      <span data-bind="text: totalCount()"></span>
    </script>
    
    <script type="text/html" id="social-template-with-link">
      <span data-bind="text: totalCount()"></span>
       (<a data-bind="attr: { href: detailsHref() }, text: detailsAnchor, click: $root.recordClick.bind($root, 'Popup Interaction', 'Social Link', name)" target="_blank"></a>)
    </script>

    <script type="text/html" id="facebook-template">
      <span data-bind="text: totalCount"></span>
      <p class="indent">
        Likes: 
        <span data-bind="text: likes" />
      </p>
      <p class="indent">
        Shares: 
        <span data-bind="text: shares" />
      </p>
      <p class="indent">
        Comments: 
        <span data-bind="text: comments" />
      </p>
      
    </script>
    <script type="text/html" id="reddit-template">
      <span data-bind="text: totalCount()"></span>
       (<a data-bind="attr: { href: detailsHref() }, text: detailsAnchor, click: $root.recordClick.bind($root, 'Popup Interaction', 'Social Link', name)" target="_blank"></a>)
      <p class="indent">
        Ups: <span data-bind="text: ups()"></span>
      </p>
      <p class="indent">
        Downs: <span data-bind="text: downs()"></span>
      </p>
    </script>
    

  </body>
</html>
